{{ kineticadb_head_data.host }} slots={{ kineticadb_head_data.slots }} max_slots={{ kineticadb_head_data.max_slots }}

{% for item in kineticadb_worker_data %}
{{ item.host }} slots={{ item.slots }} max_slots={{ item.max_slots }}
{% endfor %}